body {
    background-color: rgb(197, 178, 178);
    margin: 0;
}

head {
    background-color: rgb(187, 78, 78);
    margin: 0;
}

header {
    text-align: center;
}

li {
    display: inline;
}

button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    color: black;
}

.animate {
    animation: pop 0.2s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}